@using JewelryUI.Models
@{ 
    List<SelectListItem> Categories = ViewBag.categories;
    List<SelectListItem> Types = ViewBag.types;
    List<SelectListItem> Colors = ViewBag.colors;
    UserModel currentUser = (UserModel)Session[WebUtil.CURRENT_USER];
    List<OrderModel> orders = ViewBag.order;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body spellcheck="true">
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home/index">
                        Gew<span class="glyphicon glyphicon-certificate"></span>elary
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                       
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                       
                        <li>
                            @Html.ActionLink("Latest Products", "Latest", "Products")
                        </li>
                        <li>
                            <a href="/Cart/ViewCart"> Cart <span id="cartitems" class="badge">0</span></a>
                        </li>
                        <li><a href="users/portal/">User Portal</a></li>
                        @if (orders != null)
                        {
                           
                            <li><a href="/users/UserOrder/@currentUser.Id " id="orders">My Orders<span class="badge">@ViewBag.count</span></a></li>
                        }
                        @if(currentUser!=null)
                        {
                            <li><a href="users/addpost/">post Add</a></li>
                        }

                    </ul>
                    @if (currentUser == null)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-"></span>&nbsp;&nbsp;Manage User<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink("SignIn", "login", "Users")
                                        @Html.ActionLink("Create Account", "Signup", "Users")
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    }
                    @if(currentUser != null)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                @if (currentUser.ImgURL != null)
                                {
                                  <img src="@Url.Content(currentUser.ImgURL)" height="20" width="20" alt="@currentUser.LoginId"/>
                                } 
                                &nbsp;&nbsp;@currentUser.FullName<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink("Log Out", "Logout", "Users")
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    }
                   
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
    <div class="list-group">
        @if (currentUser == null)
        {
        <ul class="list-group-item active"><marquee dir="ltr">Create Account and access to our User Port, Where you can sell your own products on our website</marquee></ul>
        }
        else
        {
           
                <ul class="list-group-item active"><marquee dir="ltr">We are adding products, Suggest to improve our services</marquee></ul>
        }
    </div>
    <div class="container-fluid">
        <div class="row">
            <div id="leftsection" class="col-lg-3">
                
                <div class="logo"><img src="~/Images/logo.jpg" class="img-responsive logo" /></div>
          @if (Categories != null)
          {
              if (Categories.Count > 0)
              {
                <div class="panel panel-default">
                    <a class="list-group-item active" data-toggle="collapse" href="#category" style="text-align:center">Search By Category</a>
                    <div class="panel-collapse collapse" id="category">
                        <div class="panel-body" style="background-color:black">
                            @foreach (var c in Categories)
                            {
                                <div class="list-group-item">@Html.ActionLink(c.Text, "ByCategory", "Products", new { id = Convert.ToInt32(c.Value) }, null)</div>
                            }
                        </div>
                    </div>
                </div>
              }
              else
              {
                <div class="list-group"><ul class="list-group-item active"><marquee dir="ltr">No category is added yet</marquee></ul></div>
              }
          }
@if (Types != null)
{
    if (Types.Count > 0)
    {
                <div class="panel panel-default">
                    <a class="list-group-item active" data-toggle="collapse" href="#Types" style="text-align:center">Search By Type</a>
                    <div class="panel-collapse collapse" id="Types">
                        <div class="panel-body" style="background-color:black">
                            @foreach (var c in Types)
                            {
                                <div class="list-group-item">@Html.ActionLink(c.Text, "ByType", "Products", new { id = Convert.ToInt32(c.Value) }, null)</div>
                            }
                        </div>
                    </div>
                </div>
    }
    else
    {
        <div class="list-group"><ul class="list-group-item active"><marquee dir="ltr">No Type is added yet</marquee></ul></div>
    }
}
@if (Colors != null)
{
    if (Colors.Count > 0)
    {
                <div class="panel panel-default">
                    <a class="list-group-item active" data-toggle="collapse" href="#Colors" style="text-align:center">Search By Color</a>
                    <div class="panel-collapse collapse" id="Colors">
                        <div class="panel-body" style="background-color:black">
                            @foreach (var c in Colors)
                            {
                                <div class="list-group-item">@Html.ActionLink(c.Text, "byColor", "Products", new { id = Convert.ToInt32(c.Value) }, null)</div>
                            }
                        </div>
                    </div>
                </div>
    }
    else
    {
        <div class="list-group"><ul class="list-group-item active"><marquee dir="ltr">No Color is added yet</marquee></ul></div>
    }
}
                <div class="panel panel-default">
                    <a class="list-group-item active" data-toggle="collapse" href="#feedback" style="text-align:center">Feed Back</a>
                    <div class="panel-collapse collapse" id="feedback">
                        <div class="panel-body" style="background-color:aqua">
                            <div  style="align-items:flex-end;background-color:aqua;" id="feedback">
                                @using (Html.BeginForm("feedback", "users", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <div class="form-group">
                                        <label for="Name">Your Name:</label>
                                        @Html.TextBox("name", null, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label for="Name">Your Email:</label>
                                        @Html.TextBox("email", null, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label for="Name">Your Cell No:</label>
                                        @Html.TextBox("number", null, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label for="Name">Message:</label>
                                        @Html.TextArea("message", null, 8, 30, new { @class = "form-control" })
                                    </div>
                                    <button class="btn btn-primary" type="submit">Send</button>
                                    <button class="btn btn-default" type="reset">Clear</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                

                @*@if (Categories!=null)
                {
                    if (Categories.Count > 0)
                    {
                    <div class="list-group">
                        <ul><li class="list-group-item active" >Search By Categories</li>
                            @foreach (var c in Categories)
                            {
                                <li class="list-group-item">@Html.ActionLink(c.Text, "ByCategory", "Products", new { id = Convert.ToInt32(c.Value) }, null)</li>
                            }
                        </ul>
                    </div>
                    }
                }
                @if (Colors!=null)
                {
                    if (Colors.Count > 0)
                    {
                    <div class="list-group">
                        <ul><li  class="list-group-item active">Search By Colors</li>

                            @foreach (var c in Colors)
                            {
                                <li class="list-group-item">@Html.ActionLink(c.Text, "byColor", "Products", new { id = Convert.ToInt32(c.Value) }, null)</li>
                            }
                        </ul>
                    </div>
                    }
                    else
                    {
                        <div class="list-group">
                            <ul class="list-group-item active"><marquee dir="ltr">No Product is added yet</marquee></ul>
                        </div>
                    }
                }
              
                @if (Types!=null)
                {
                    if (Types.Count > 0)
                    {
                    <div class="list-group">
                        <ul><li  class="list-group-item active">Search By Types</li>

                            @foreach (var c in Types)
                            {
                                <li class="list-group-item">@Html.ActionLink(c.Text, "ByType", "Products", new { id = Convert.ToInt32(c.Value) }, null)</li>
                            }
                        </ul>
                    </div>
                    }
                }*@
            </div>
                <div>&nbsp;</div>
                <div class="col-lg-9">
                    <div class="row">
                    <div class="col-lg-9">
                    <div class="thumbnail">
                        <img src="~/Images/banners/banner.jpg" class="img-responsive"/>
                    </div>
                        </div>
                        <div class="col-lg-2">
                            <iframe src="http://free.timeanddate.com/clock/i5u818ag/n756/szw160/szh160/hocf00/hbw6/cf100/hgr0/fas20/fdi64/mqc000/mqs4/mql20/mqw2/mqd94/mhc000/mhs3/mhl20/mhw2/mhd94/mmc000/mml10/mmw1/mmd94/hmr7/hsc000/hss1/hsl90" frameborder="0" width="160" height="160"></iframe>
                            @*<iframe style="overflow:hidden;border:0;margin:0;padding:0;width:165px;height:120px;" src="http://www.clocktag.com/html5/dt143.html"></iframe>*@
                            <iframe src="http://free.timeanddate.com/clock/i5u818ag/n756/fn6/fs16/fcf00/ahl/avt/ftbiu/bas2/bat1/bacfff/pa8/tt0/tw1/th2/ta1/tb4" frameborder="0" width="217" height="60"></iframe>
                            <iframe src="http://free.timeanddate.com/countdown/i5u8pc6r/n756/cf100/cm0/cu4/ct0/cs0/ca0/co1/cr0/ss0/cac009/cpc000/pcfff/tc66c/fs100/szw192/szh81/tatJashan-e-Azadi/tac009/tptTime%20since%20Event%20started%20in/tpc000/iso2017-08-14T00:00:00" allowTransparency="true" frameborder="0" width="192" height="81"></iframe>
                            @*<iframe src="http://free.timeanddate.com/countdown/i5u82fnf/n756/cf100/cm0/cu4/ct0/cs0/ca0/co1/cr0/ss0/cac09f/cpc000/pcfff/tcbfd2f0/fs90/szw320/szh135/tatTime%20left%20to%20%22New%20Stock%22%20in/tacf00/tptTime%20since%20Event%20started%20in/tpc000/iso2017-08-30T00:00:00" allowTransparency="true" frameborder="0" width="320" height="135"></iframe>*@
                           @*<div id="badge"></div>*@ 
                        </div>
                        </div>
                    <div>
                        @RenderBody()
                    </div>
                </div>    
        </div> 
       
    </div>
    
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            var con = $.hubConnection();
            var hub = con.createHubProxy("MyNewHub");
            hub.on("onrecordhit", function (count) {
                $('#badge').text(count);
            });
            con.start(function () {
                hub.invoke('Recordhit');
            });
            $(".addcartbtn").click(function () {
                var obj = {
                    "Id": $(this).data("pid"),
                    "Name": $(this).data("pname"),
                    "Price": $(this).data("pprice"),
                    "ImageUrl": $(this).data("purl"),
                    "Quantity": $(this).data("pqty")
                };
                $.ajax(
                  {
                      url: "/Cart/Add",
                      type: "get",
                      data: obj
                  }).done(function (itemscount) {
                      $("#cartitems").text(itemscount);
                  });
            });
        });

    </script>
</body>
</html>